<%- include('../partials/head.ejs')%> 
<body>
    <%- include('../partials/header.ejs') %>

    <h1 class="cargaProducto__titulo"><%= product ? "Edición de producto" : "Crea un producto" %></h1>

    <form action="<%= product ? `/products/updateproduct/${product.id}?_method=PUT` : '/products/loadproduct' %>" method="post" class="cargaProducto__formulario" enctype="multipart/form-data">
        <div class="cargaProducto__contenedor__formulario">
            <label for="nombre">Nombre del Producto:</label>
            <input type="text" name="nombre" value="<%= product ? product.nombre : ""; %>">
            <p style="color:red"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %></p>
            
            <label for="imagenes">Imágenes:</label>
            <input type="file" name="imagenes" accept="image/*" multiple>
            <p style="color:red"><%= locals.errors && errors.imagenes ? errors.imagenes.msg : null %></p>
            
            <label for="descripcion">Descripción:</label>
            <input name="descripcion" value="<%= product ? product.descripcion : ""; %>"></input>
            <p style="color:red"><%= locals.errors && errors.descripcion ? errors.descripcion.msg : null %></p>
            
            <label for="marca">Marca:</label>
            <select name="marca" id="marca">
                <option value="" disabled selected>- Seleccione la Marca -</option>
                <% brands.forEach(brand => { %>
                <option value="<%= brand.id %>"><%= brand.nombre %></option>
                <% }); %>
            </select>
            <p style="color:red"><%= locals.errors && errors.marca ? errors.marca.msg : null %></p>
            
            <label for="categoria">Categoría:</label>
            <select name="categoria" id="categoria">
                <option value="" disabled selected>- Seleccione la Categoría -</option>
                <% categories.forEach((categoria) => { %>
                <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                <% }) %>
            </select>
            <p style="color:red"><%= locals.errors && errors.categoria ? errors.categoria.msg : null %></p>
            
            <label for="precio">Precio:</label>
            <input type="text" name="precio" value="<%= product ? product.precio : ""; %>">
            <p style="color:red"><%= locals.errors && errors.precio ? errors.precio.msg : null %></p>
            
            <label for="stock">Stock:</label>    
            <input type="text" name="stock" value="<%= product ? product.stock : ""; %>">
            <p style="color:red"><%= locals.errors && errors.stock ? errors.stock.msg : null %></p>

            <div class="errores">
                <ul></ul>
            </div>

            <div class="cargaProducto__contenedor__buton__enviar">
                <button type="submit" value="Enviar">Enviar</button></a>
                <button type="reset" value="Borrar">Borrar</button></a>
            </div>

        </div>
    </form>
    <script src="/js/product-validation.js"></script>
</body>
</html>
