<%- include('../partials/head.ejs') %>
<body>

  <%- include('../partials/header.ejs') %>

  <main class="carrito-main">
    <section class="carrito-productos">
      <% carrito.forEach((cart) => { %>
      <article class="carrito-item">
        <div class="carrito-imagen">
          <img src="/img/productos/<%= cart.Product.Imageproducts[0].imagen %>" alt="<%= cart.Product.nombre %>">
        </div>
        <div class="carrito-info">
          <h3><%= cart.Product.nombre %></h3>
          <p class="carrito-precio">$<%= cart.Product.precio %></p>
          <button class="carrito-borrar" onclick="borrarProducto('<%= cart.Product.id %>')">Eliminar</button>
        </div>
      </article>
      <% }) %>
    </section>

    <section class="carrito-resumen">
      <div class="carrito-total">
        <h3>Total:</h3>
        <p class="carrito-precio">$<%= total %></p>
      </div>
      <a href="#" class="carrito-finalizar">Finalizar Compra</a>
    </section>
  </main>

  <%- include('../partials/whatsapp.ejs') %>
  <%- include('../partials/footer.ejs') %>
  
  <script src="/js/carrito.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  

</body>
</html>
