  <%- include('../partials/head.ejs')%> 
  <body>
    
    <%- include('../partials/header.ejs')%>

    <main class="carrito-main">

    <div class="carrito-query-producto-enlaces">

        <section class="carrito-producto-cantidad">
          
          <div class="carrito-producto"><h5>PRODUCTO</h5></div>

          <div class="carrito-3-pct">
          <h5 class="carrito-h5-ocultar">PRECIO</h5>
          <h5>CANTIDAD</h5>
          <h5 class="carrito-h5-ocultar">TOTAL</h5></div>
        </section>
        <hr class="carrito-linea" />

        <section class="carrito-section">
          <% carrito.forEach((cart) => { %>
          <img class="carrito-accesorio-descripcion-total">
              <a href=""><i class="fa-solid fa-circle-xmark"></i></a>
              <img src="/img/productos/<%= cart.Product.Imageproducts[0].imagen %>" width="20%"></img>
      
              <div class="carrito-loren-precio">
                  <p><%= cart.Product.nombre %></p>
                  <h4 class="carrito-precio-movile">1x00.000,00</h4>
              </div>
      
              <h4 class="carrito-precio-query"><%= cart.Product.precio %></h4>
      
              <input type="button" value="-1+" />
      
              <h4 class="carrito-precio-query">00.000,00</h4>
          </article>
      
          <hr class="carrito-linea" />
          <% }) %>
      </section>
      

        <section>
          <nav class="carrito-nav">
            <ul>
              <li>
                <a class="carrito-nav-seguir" href="/"
                  ><h5>SEGUIR COMPRANDO</h5></a
                >
                <a class="carrito-nav-actualizar" href="/products/carrito"
                  ><h5>ACTUALIZAR CARRITO</h5></a
                >
              </li>
            </ul>
          </nav>
        </section>
      </div>

      <section class="carrito-caja-total">
        <article class="carrito-caja-total-h5">
          <div class="carrito-h5">
            <h5>TOTAL DEL PRODUCTO</h5>
          </div>
        </article>

        <div class="carrito-subtotal">
          <p>Subtotal</p>
          <p>$00.000,00</p>
        </div>
        <hr class="carrito-linea" />

        <div class="carrito-envio">
          <p>Envío</p>
        </div>

        <article class="carrito-detalle-compra">
          <div class="carrito-form-definitivo">
            <form class="carrito-form1">
              <input type="radio" id="si" name="Precío" value="Si" />
              <label for="si">Precío fijo: $00.000,00</label>
            </form>
            <br />

            <form class="carrito-form2">
              <input type="radio" id="si" name="Retirar" value="Si" />
              <label for="si">Retirar en el local</label>
            </form>
          </div>

          <div class="carrito-cambiar-enviar">
            <nav>
              <p>Enviar a</p>
              <a href="">cambiar dirección</a>
            </nav>
          </div>
          <hr class="carrito-linea" />

          <div class="carrito-precio-total">
            <p>Total</p>
            <p>$00.000,00</p>
          </div>
        </article>

        <div class="carrito-finalizar">
          <a href="">IR A FINALIZAR COMPRA</a>
        </div>
      </section>
    </main>
      <%- include('../partials/footer.ejs')%> 
  </body>
</html>
