<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section class="main-Ptodos-section-titulos"><h4><%= categories[0].nombre %></h4></section>

        <section class="main-Ptodos-section-tendencias">

            <% categories.forEach(category => { %>
                <% category.Products.forEach(product => { %>
                    <section class="main-Ptodos-section-article-division">
                        <article class="main-Ptodos-section-articulo">
                            <a href="/products/detail/<%= product.id %>">
                                <% if (product.Imageproducts.length > 0) { %>
                                    <img src="/img/productos/<%= product.Imageproducts[0].imagen %>" class="main-Ptodos-imagen-producto">
                                <% } %>
                            </a>
                            <div class="main-Ptodos-descripcion-precio">
                                <a href="/products/detail/<%= product.id %>">
                                    <h5 class="main-Ptodos-descripcion"><%= product.nombre %></h5>
                                    <p class="main-Ptodos-precio">$ <%= product.precio %></p>
                                    <p class="main-Ptodos-cuotas">10 cuotas sin interés de $ <%= product.precio / 10 %></p>
                                </a>
                                <div class="main-Ptodos-section-botones">
                                    <button class="main-Ptodos-botones">Comprar</button>
                                    <button class="main-Ptodos-botones">Agregar al <i class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </article>
                    </section>
                <% }) %>
            <% }) %>

        </section>
        <%- include("../partials/whatsapp.ejs") %>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>
