<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='stylesheets/style.css' />
        <script src="https://kit.fontawesome.com/cbbf860933.js"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/b99d7ed5f9.js"
            crossorigin="anonymous"></script>
        <title><%=title%></title>
    </head>
    <body>
        <main>
            <a href="/products/create"><button>Crear Producto</button></a>
            <section class="home__main__products">
                <% products.forEach(product => {%>
                <article class="home__main__products__product">
                    <div class="home__main__products__product__photo-container">
                        <img
                            class="home__main__products__product__photo-container--phot
                        src="/images/<%= product.imagen %>"
                        alt="<%= product.nombre %>"
                        >
                    </div>
                    <h4><%= product.nombre %></h4>
                    <div class="contenedor-botones-dashboard">
                        <a
                            class="home__main__products__product__photo-container--more"
                            href="/products/detail/<%= product.id %>"><i
                                class="fa-brands fa-readme"></i></a>
                        <a
                            class="home__main__products__product__photo-container--more"
                            href="/products/update/<%= product.id %>"><i
                                class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a
                            class="home__main__products__product__photo-container--more"
                            href="/products/delete/<%= product.id %>"><i
                                class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </article>
                <% }); %>

            </section>
        </main>
    </body>
</html>

<a class="boton_dashboard" href="/products/cargaDeProducto"><button>Crear
        Producto</button></a>
