<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='../stylesheets/style.css' />
        <script src="https://kit.fontawesome.com/cbbf860933.js"
            crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/b99d7ed5f9.js"
            crossorigin="anonymous"></script>
        <title><%=title%></title>
    </head>
    <body>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Marca</th>
                        <th>Categoría</th>
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(function(product) { %>
                        <tr>
                            <td><%= product.id %></td>
                            <td><%= product.nombre %></td>
                            <td><%= product.descripcion %></td>
                            <td><%= product.precio %></td>
                            <td><%= product.marca %></td>
                            <td><%= product.categoria %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            
        </main>
    </body>
</html>

<a class="boton_dashboard" href="/products/cargaDeProducto"><button>Crear
        Producto</button></a>
