<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs')%> 
    <body class="body_dashboard">
        <section class="contenedor1_dasboard">
            <%- include('../partials/header.ejs') %>
        </section>
        <section class="contenedor2_dasboard">
        <aside class="aside_dashboard">
                <!-- <a href="../index.ejs" class="logo_barraMenu_dashboard"><img src="/img/LogoP-footer.png" alt=" logo_puntoColeccion"></a> -->
                <a class="boton_dashboard" href="/users/login"><button><i class="fa-regular fa-user "></i></button></a>
                <a class="boton_dashboard" href="/"><button><i class="fa-brands fa-searchengin"></i></button></a>
                <a class="boton_dashboard" href="/products/loadproduct"><button><i class="fa-solid fa-plus"></i></button></a>
                <a class="boton_dashboard" href="/products/updateproduct"><button><i class="fa-solid fa-pen-to-square"></i></button></a>
                <a class="boton_dashboard" href="/products/dashboard"><button><i class="fa-regular fa-trash-can"></i></button></a>
            </aside>
            <main class=" main_dashboard">
                <table class="tabla_dashboard">
                    <thead class="head_tabla_dashboard">
                        <tr class="sections_head_tabla_dashboard">
                            <div class="div_head_tabla_dashboard">
                                <th>ID</th>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Marca</th>
                                <th>Categoría</th>
                                <th>Acciones</th> 
                            </div>
                        </tr>
                    </thead>
                    <tbody class="body_tabla_dashboard">
                        <% products.forEach(product=>{%>
                        <tr>
                                <td><%= product.id%></td>
                                
                                <td><img src="/img/productos/<%=product.Imageproducts[0].imagen%>" class="main_imagen_producto"></td>
                                <td><%= product.nombre%></td>
                                <td><%= product.descripcion%></td>
                                <td><%= product.precio%></td>
                                <td><%= product.Brand.nombre%></td>
                                <td><%= product.Category.nombre%></td>
                                <td>
                                    <a class="boton_dashboard_tabla"
                                    href="/products/updateproduct/<%= product.id %>"><button><i
                                    class="fa-solid fa-pen-to-square"></i></button></a>

                                <form class="boton_dashboard_tabla" action="/products/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                                <button><i class="fa-regular fa-trash-can"></i></button></a></form>
                                </td>                                
                                </tr>
                                <% }) %>
                            </tbody>
                        </section>
                        </table>
                    </main>
                </body>
            </html>