<%- include('../partials/head.ejs')%>

<body class="body-detalleP">

    <%- include('../partials/header.ejs')%>

    <main class="main-detalleP">
        <section class="contenedor_general_detalleP">

            <article class="articulos-detalleP">
                <div class="box_foto-principal">
                    <img id="foto-principal-dp" src="/img/productos/<%= product.imagen %>" alt="imagen funko">
                </div>

                <div class="box_fotos-secund">
                    <img id="foto-2-dp" src="/img/productos/<%= product.imagen %>" alt="imagen-funko-perfil">
                    <img id="foto-3-dp" src="/img/productos/<%= product.imagen %>" alt="imagen-funko-perfil-2">
                </div>
            </article>

            <section class="contenedor_detalle_info">
                <div class="nav-bar-detalleP">
                    <ul>
                        <li><a href="/">INICIO</a></li>
                        <li><a href="#">/ NUESTRAS MARCAS</a></li>
                    </ul>

                    <div class="compras-detalleP">
                        <h3 id="nameP"><%= product.nombre %></h3>
                        <p id="precioP">$ <%= product.precio %></p>
                        <p id="cuotasP">10 cuotas sin interes de $ <%= product.precio/10 %></p>
                        <select class="form-select" aria-label="Default select example">
                            <option selected><a>Cantidad</a></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <button type="button" class="btn-detalleP" href="/produtc/carrito"><a>Agregar</a><i
                            class="fa-solid fa-cart-shopping" id="carrito-dp"></i></button>
                    <h5 class="h5-dp">sku:jhbdhbsdhbh<br>Categoria:Fonko,gfdsajkl.</h5>
                    <div id="detalleP-icons">
                        <i class="fa-brands fa-instagram" style="color: #000000;"></i>
                        <i class="fa-brands fa-facebook" style="color: #000000;"></i>
                        <i class="fa-brands fa-twitter" style="color: #030303;"></i>
                    </div>
                    <h4 class="h4-dp">DUDAS O CONSULTAS</h4>
                    <i href class="fa-brands fa-whatsapp" style="color: #4cd742;"></i>
                </div>

                
            </section>
        </section>
        <section class="box_detalleP-info">
            <h3 class="detalleP-final-descripcion">Descripción :</h3>
            <p class="box_detalleP-info">
                <%= product.descripcion %>
            </p>
        </section>
    </main>
    <%- include('../partials/footer.ejs')%>
</body>
