<%- include('../partials/head.ejs')%>

<body class="body-detalleP">

    <%- include('../partials/header.ejs')%>

    <main class="main-detalleP">
        <section class="contenedor_general_detalleP">

            <article class="articulos-detalleP">
                <div class="box_foto-principal">
                    <img id="foto-principal-dp" src="/img/productos/<%= product.Imageproducts[0].imagen %>" alt="imagen funko">
                </div>

                <div class="box_fotos-secund">
                    <img class="foto-secundaria" src="/img/productos/<%= product.Imageproducts[1].imagen %>" alt="imagen-funko-perfil">
                    <img class="foto-secundaria" src="/img/productos/<%= product.Imageproducts[2].imagen %>" alt="imagen-funko-perfil-2">
                </div>
            </article>

            <section class="contenedor_detalle_info">
                <h2 class="h5-dp"><br>Categoria: <%= product.Category.nombre %></h2>
                <div class="nav-bar-detalleP">
                    <div class="compras-detalleP">
                        <h3 id="nameP"><%= product.nombre %></h3>
                        <p id="precioP">$ <%= product.precio %></p>
                        <p id="cuotasP">3 cuotas sin interes de $ <%= product.precio/3 %></p>
                        <select class="form-select" aria-label="Default select example">
                            <option selected><a>Cantidad</a></option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <% if(locals.usuario) {%>
                    <button type="button" class="btn-detalleP" onclick="addCart(event, '<%= product.id %>', '<%= usuario.id %>' )" href="/products/carrito"><a>Agregar</a><i
                            class="fa-solid fa-cart-shopping" id="carrito-dp"></i></button>
                <br><br>
                <% }else{ %>
                    <button type="button" class="btn-detalleP" ><a href="/users/login">Inicie Sesion</a>
                        <i class="fa-solid fa-cart-shopping" id="carrito-dp"></i></button>
                    <% } %>
               

                <div id="detalleP-icons">
                    <h1>Nuestras redes:</h1>
                </div>
                    <div id="detalleP-icons">
                        <a href="https://www.instagram.com/punto_coleccion" target="_blank"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>
                        <a href="https://www.facebook.com/puntocoleccion" target="_blank"><i class="fa-brands fa-facebook" style="color: #000000;"></i></a>
                        <a href="https://twitter.com/puntonoticias" target="_blank"><i class="fa-brands fa-twitter" style="color: #030303;"></i></a>
                    </div>
                </div>
            </section>
        </section>
        <section class="box_detalleP-info">
            <h3 class="detalleP-final-descripcion">Descripción :</h3>
            <p class="box_detalleP-info">
                <%= product.descripcion %>
            </p>
        </section>
        <%- include("../partials/whatsapp.ejs") %>
    </main>
    <%- include('../partials/footer.ejs')%>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const fotosSecundarias = document.querySelectorAll('.foto-secundaria');
            const fotoPrincipal = document.getElementById('foto-principal-dp');
            let srcTemporal; 
    
            fotosSecundarias.forEach(function(img) {
                img.addEventListener('click', function() {
                
                    srcTemporal = fotoPrincipal.src;
                    fotoPrincipal.src = img.src;
                    img.src = srcTemporal;
                });
            });
        });

        async function addCart (e,producto_id, usuario_id )  {
            e.preventDefault()
        const response = await fetch (`http://${location.hostname}:${location.port}/api/product/addCart`,
        {method:'post', 
        headers: {'Accept': 'application/json','Content-Type': 'application/json'},
        body: JSON.stringify({producto_id , usuario_id })})

        if (response.ok) {
            alert ('producto agregado')

        } else {
            alert ('error al agregar')
        }

        }
    </script>
</body>
