
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/header.ejs") %>
    

        <main>
            <section class="main_index_section_carrusel">
                <div class="slider-frame">
                    <ul>
                        <li><img src="/img/carrusel/banner-1-1400x462.webp" alt=""></li>
                        <li><img src="/img/carrusel/banner1-1400x462.webp" alt=""></li>
                        <li><img src="/img/carrusel/banner4-1400x462.webp" alt=""></li>
                        <li><img src="/img/carrusel/geekon-banner-2023-1400x462.webp" alt=""></li>
                    </ul>
                </div>
            </section>

            <section class="main_index_section_titulos">
                <h4>tendencias y ofertas</h4>
            </section>
                <ul class="index-productos">
                    <% tendenciasYOfetas.forEach(product=> { %>
                        <li>
                            <a href="/product/detalleP/<%= product.id %>">
                                <img src="/img/productos/<%=product.imagen %>" class="main_imagen_producto">
                            </a>
                            <div class="main_index_descripcion-precio">
                                <a href="/product/detalleP/<%= product.id %>">
                                    <h5 class="main_descripcion">
                                        <%= product.nombre %>
                                    </h5>
                                    <p class="main_precio">
                                        <%= product.precio %>
                                    </p>
                                    <p class="main_cuotas">
                                        <%= product.cuotas %> 3 cuotas sin interés de $<%= (product.precio / 3)%>
                                    </p>
                                </a>
                                <div class="main_index_section_botones">
                                    <button class="main_index_botones">Comprar</button>
                                    <button class="main_index_botones">Agregar al <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </li>
                        <% }) %>
                </ul>
            </section>

            <section class="main_index_section_marcas">
                <img src="/img/bandai jpg.jpg">
                <img src="/img/banpresto.png">
                <img src="/img/good-smile.png">
                <img src="/img/pop!.png">
                <img src="/img/tsume.jpeg">
            </section>

            <section class="main_index_section_titulos">
                <h4>Destacados</h4>
            </section>
                <ul class="index-productos">
                    <% destacados.forEach(product=> { %>
                        <li>
                            <a href="/product/detalleP/<%= product.id %>">
                                <img src="/img/productos/<%=product.imagen %>" class="main_imagen_producto">
                            </a>
                            <div class="main_index_descripcion-precio">
                                <a href="/product/detalleP/<%= product.id %>">
                                    <h5 class="main_descripcion">
                                        <%= product.nombre %>
                                    </h5>
                                    <p class="main_precio">
                                        <%= product.precio %>
                                    </p>
                                    <p class="main_cuotas">
                                        <%= product.cuotas %> 3 cuotas sin interés de $<%= product.precio / 3%>
                                    </p>
                                </a>
                                <div class="main_index_section_botones">
                                    <button class="main_index_botones">Comprar</button>
                                    <button class="main_index_botones">Agregar al <i
                                            class="fa-solid fa-cart-shopping"></i></button>
                                </div>
                            </div>
                        </li>
                        <% }) %>
                </ul>
            </section>

            <section class="main_index_section_envios">
                <article>
                    <img src="/img/formas de pago/truck.png">
                    <div class="main_index_textos_envios">
                        <h6>Envíos a todo el país</h6>
                        <p>Envíos gratis a domicilio a partir de $14000</p>
                    </div>
                </article>
                <article>
                    <img src="/img/formas de pago/cardcredit.png">
                    <div class="main_index_textos_envios">
                        <h6>Tarjeta de crédito</h6>
                        <p>Hasta 3 cuotas sin interés</p>
                    </div>
                </article>
                <article>
                    <img src="/img/formas de pago/regalo.png">
                    <div class="main_index_textos_envios">
                        <h6>Postales de regalo</h6>
                        <p>Con tu compra llevate una postal de regalo</p>
                    </div>
                </article>
            </section>

        </main>

        <%- include("./partials/footer.ejs") %>

</body>

</html>