<%- include("../partials/head.ejs")%>



<body>

    <%- include('../partials/header.ejs')%>




    <main class="main">

    <h1 class="INGRESA">INGRESA</h1>

    <form action="/users/login" method="post" class="formulario__general">
        <div class="form">
            <div class="opciones-registro1">
                <input class="input-registro" type="text" name="email" placeholder="correo electronico" />
                <p style="color:red"><%= locals.errors && errors.email? errors.email.msg : null %></p>
            </div>
        </div>
        <div class="form">
            <div class="opciones-registro1">
                <input class="input-registro" type="password" name="password" placeholder="contraseña" />
                <p style="color:red"><%= locals.errors && errors.password? errors.password.msg : null %></p>
                <i class="eye fa-regular fa-eye-slash"></i>
            </div>
        </div>
        <div>
            <label for="remember">Mantener sesion</label>
            <input type="checkbox" name="remember" value="true">
        </div>
        <div class="errores">
            <ul>

            </ul>
        </div>
        <div class="form">
            <div class="opciones-registro1">
                <button type="submit" class="inicio-reg-hijo">
                    INGRESAR
                </button>
            </div>
        </div>
        
    </form>
    <form>
        
    <div class="opciones-de-registro">
        <a href="/users/registro"> Crear Cuenta </a> 
    
        <a href=""> ¿olvidó su contraseña? </a>
    </div>
    </form>

    <div class="g-recaptcha" data-sitekey="6LeSXBMpAAAAANooS21qTPO1k_ga29vmHPZm9CQI"></div>
    <br/>


</main>
<script src="/js/login-validation.js"></script>
<%- include('../partials/footer.ejs')%>  
</body> 
</html>