<%- include("../partials/head.ejs")  %>

<body>
    
    <%- include('../partials/header.ejs') %>

    <main class="registro_main">
        <section class="registro_main_titulos">
            
            <h1>EDITAR PERFIL</h1>
        </section>
        
        <section class="section_registro_main_formulario_account">
        
            <form action="/users/profile?_method=PUT" method="post" class="registro_main_formulario_account">
                
                <label for="nombre">NOMBRE:</label>
                <input type="text" name="nombre" placeholder="ej: Roberto" value="<%= locals.user && user.nombre %>">
                <p style="color:red"><%= locals.errors && errors.nombre? errors.nombre.msg : null %></p>
                
                <label for="apellido">APELLIDO:</label >
                <input type="text" name="apellido" placeholder="ej: Sánchez" value="<%= locals.user && user.apellido %>">
                <p style="color:red"><%= locals.errors && errors.apellido ? errors.apellido.msg : null %></p>
            
                <% if (locals.user && user.rol == 'admin') {%>
                        <label for="rol">Rol</label>
                        <select name="rol">
                        <option value="admin">admin</option>
                        <option value="user">user</option>
                        </select>
                <% } %>
                <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" value="<%= locals.user && user.fechaNaciento.toISOString().slice(0,10)%>">
                
                <label for="edad">Edad:</label>
                <input type="number" id="edad" name="edad"  value="<%= locals.user && user.edad %>">
                
                <label for="genero">Género:</label>
                <select id="genero" name="genero">
                <option value="" disabled selected>- Seleccione un genero - </option>
                
                <option value="Femenino" <%= user.genero == "Femenino" ? "selected" : null %>>Femenino</option>
                <option value="Masculino" <%= user.genero == "Masculino" ? "selected" : null%>>Masculino</option>
                <option value="Otro" <%= user.genero == "Otro" ? "selected" : null%>>Otro</option>
                </select><br>


                <div class = "errores">
                    <ul>

                    </ul>
                </div>
                
                <div class="registro_main_botones_account">
                    <button type="submit">ACTUALIZAR</button>
                    <button type="reset">BORRAR FORMULARIO</button>
                </div>
                
            </form>
        </section>
        <p class="registro_main_titulos_account">¿Ya ténes una cuenta? <a href="/users/login">Iniciá Sesión</a></p>
    </main>
    <script src="/js/profile-validation.js"></script>
    <%- include('../partials/footer.ejs')%>  

</body>
</html>