<%- include("../partials/head.ejs")  %>

<body>
    
    <%- include('../partials/header.ejs') %>

    <main class="main">

        <section class="div-main-login"> 
            <h1 class="INGRESA">CREA TU CUENTA</h1>
            <form action="/users/registro" method="post" class="registro_main_formulario_account formulario__general"> 
                
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" placeholder="ej: Roberto" value="<%= locals.old && old.nombre %>" class="input-registro">
                <p style="color:red"><%= locals.errors && errors.nombre? errors.nombre.msg : null %></p>
                
                <label for="apellido">Apellido:</label >
                <input type="text" name="apellido" placeholder="ej: Sánchez" value="<%= locals.old && old.apellido %>" class="input-registro"> 
                <p style="color:red"><%= locals.errors && errors.apellido ? errors.apellido.msg : null %></p>
                
                <label for="email">E-Mail:</label >
                <input type="text" name="email" placeholder="ej: tumail@email.com"  value="<%= locals.old && old.email%>" class="input-registro"> 
                
                <p style="color:red"><%= locals.errors && errors.email ? errors.email.msg : null %></p>

                <% if (locals.usuario && usuario.rol == 'admin') {%>
                        <label for="rol">Rol</label>
                        <input type="text" id="rol" name="rol" value="<%= locals.old && old.rol ? old.rol : null %>" class="input-registro"> 
                        <p style="color:red"> <%= locals.errores && errores.rol ? errores.rol.msg : null %> </p>
                <% } %>
                
                <label for="password">Contraseña:</label>
                <input type="password" name="password" placeholder="●●●●●●●●" class="input-registro"> 
                <p style="color:red"><%= locals.errors && errors.password ? errors.password.msg : null %></p>

                <label for="password1">Repetir contraseña:</label>
                <input type="password" name="password1" placeholder="●●●●●●●●" class="input-registro"> 
                <p style="color:red"><%= locals.errors && errors.password1 ? errors.password1.msg : null %></p>
                <label class="switch">
                <div class = "errores">
                        <ul>

                        </ul>
                    </div>
                <div class="g-recaptcha" data-sitekey="6LeSXBMpAAAAANooS21qTPO1k_ga29vmHPZm9CQI"></div>

                <div class="registro_main_botones_account">
                    <button type="submit" class="inicio-reg-hijo">CREAR CUENTA</button> 
                    <button type="reset"> BORRAR </button>
                </div>
                
            </form>
        </section>
        <%- include("../partials/whatsapp.ejs") %>

    </main>
    <script src="/js/form-registro-validation.js"></script>
    
    
    <%- include('../partials/footer.ejs')%>  

</body>
</html>
