<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs')%> 
<body class="body_usuario">
    <section class="contenedor1_usuario">
        <%- include('../partials/header.ejs') %>
    </section>
    <section class="contenedor2_usuario">
        <main class=" main_usuario">
            <table class="tabla_usuario">
                <thead class="head_tabla_usuario">
                    <tr class="sections_head_tabla_usuario">
                        <div class="div_head_tabla_usuario">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Rol</th>
                            <th>Fecha de Nacimiento</th>
                            <th>Edad</th>
                            <th>Género</th>
                            <th></th>
                        </div>
                    </tr>
                </thead>
                <tbody class="body_tabla_usuario">
                    <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.id %></td>
                        <td><%= user.nombre %></td>
                        <td><%= user.apellido %></td>
                        <td><%= user.email %></td>
                        <td><%= user.rol %></td>
                        <td><%= user.fechaNaciento && user.fechaNaciento.toISOString().slice(0,10) %></td>
                        <td><%= user.edad %></td>
                        <td><%= user.genero %></td>
                        <td>
                            <a
                            href="/users/updateproduct/<%= user.id %>"><button><i
                            class="fa-solid fa-pen-to-square"></i></button></a>

                        <form class="boton_dashboard_tabla" action="/users/delete/<%= user.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button><i class="fa-regular fa-trash-can"></i></button></a></form>
                        </td>           
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </main>
    </section>
</body>
</html>
